/*version desktop*/
/*base*/

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    
}

body a 
{
    text-decoration: none;
    color: black;
}

body h1
{
    font-size: 20px;
    font-weight: bold;
}

body h2
{
    font-size: 20px;
    font-weight: bold;
}

body h3
{
    font-size: 17px;
    font-weight: bold;
}

body h4
{
    font-size: 17px;
    font-weight: bold;
}

body strong
{
    font-weight: bold;
}

/*----------------------------------------------------------------*/
/*header*/

header
{
    display: flex;
    justify-content: space-between; 
    margin: 0 40px 0 40px;   
    padding-top: 40px;
}

.logo
{
    width: 110px;
}

header a
{
    padding: 53px 30px 15px 30px;
}

header ul
{
    list-style-type: none;
    display: flex;
}

header a:hover
{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

/*----------------------------------------------------------------*/
/*main*/

main
{
    margin: 40px 50px 50px 50px;
}

/*main zone Recherche */

form
{
    margin-bottom: 30px;
}

#rechercher
{
    padding: 15px;
    color:white;
    font-weight:600;
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    border: solid 1px #0065FC;
    position: absolute;
}

form input
{
    padding:15px 40px 15px 15px;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    outline: none
}

form i
{
    padding: 15px;
    background-color:#F2F2F2;
    border: solid 1px #F2F2F2;
    border-bottom: solid 3px #F2F2F2;
    border-radius: 12px 0 0 12px;
}

/*----------------------------------------------------------------*/

/* main zone filtres*/

#filtres
{
    display:flex;
}

#filtres h3
{
    margin-right: 15px;
}

#filtres div
{
    display: flex;
}

#filtres i
{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    font-size: 130%;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    position: relative;
    top:1px; left: 25px;
}

.bouton
{
   padding: 0 20px 0 40px;
   background-color: white;
   font-weight: bold;
   border: solid 2px #F2F2F2;
   overflow: hidden;
   border-radius: 0 25px 25px 0;
}

.bouton:hover
{
    background-color: #F2F2F2;
}

/*info*/

#info
{
    display: flex;
    margin: 15px 0 0 5px;
}

#info i
{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 25px;
    margin: 8px 10px 0 0;
}

/*----------------------------------------------------------------*/
/*main card*/

.nom
{
    margin-top: 10px;
}

.card_corps p
{
   font-size: 15px;
}

.card:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

.card a:hover
{
    color: #0065FC;
}

.bleu
{
    color: #0065FC;
}

.gris
{
    color: rgb(201, 198, 198);
}

/*hébergements*/

#hébergements
{
    background-color: #F2F2F2;
    display: block;
}

#hébergements .card 
{
   width: 230px;
   height: 215px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   margin: 2%;
   border-radius: 18px;
}

#hébergements .card:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

#hébergements .card_image img
{
    object-fit:cover;
    width: 96%;
    height: 120px;
    margin: 2% 2% 0 2%;
    border-radius: 15px 15px 0 0;
}

#hébergements .card_corps
{
   margin-left: 7%;
   line-height: 50%;
   width: auto;
   height: auto;
}

/*populaires*/

#populaires
{
    background-color: #F2F2F2;
    height: auto;
}

#populaires .hôtels
{
    height: 90%;
}

#populaires .card 
{ 
   
   width: 100%;
   height: 100%;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   margin: 2%;
   border-radius: 18px;
}

.populaires_liste
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#populaires .card_image img
{
    object-fit: cover;
    align-items: center;
    width: 130px;
    height: 93%;
    margin: 4% 0 4% 4%;
    border-radius: 15px 0 0 15px;
}

#populaires .card_corps
{
    height: auto;
    margin: 0 10% 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#populaires .card:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

/*position section centrale*/

#section_centrale
{
    display: flex;
    margin-top: 20px;
}

#hébergements
{
    width:70%;
    margin-right: 20px;
    border-radius: 25px;
    padding: 20px;
}

#hébergements .hôtels
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hébergements h2, #hébergements h3
{
    margin-left: 30px;
}

#populaires
{
    width: 35%;
    margin-left: 20px;
    border-radius: 25px;
    padding: 20px;
}

#populaires_étoile
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 15px 0 5px;
}

#populaires_étoile i
{
    font-size: 120%;
    padding: 15px 2px 0 0;
}

#populaires .hôtels
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#populaires .card
{
    margin-bottom: 20px;
}

/*----------------------------------------------------------------*/
/*activités*/

#activités
{
    display: block;
}

#activités .card_l 
{
   width: 302px;
   height: 444px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   border-radius: 18px;
   margin-bottom: 10px;
}

#activités .card_m 
{
   width: 302px;
   height: 235px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   border-radius: 18px;
   margin-bottom: 10px;
}

#activités .card_s
{
   width: 302px;
   height: 165px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   border-radius: 18px;
   margin-bottom: 10px;
}

#activités .card_l_image img
{
    width: 100%;
    height: 388px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#activités .card_m_image img
{
    width: 100%;
    height: 179px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#activités .card_s_image img
{
    width: 100%;
    height: 109px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#activités .card_corps
{
   margin-left: 7%;
   line-height: 50%;
   width: auto;
   height: auto;
}

#activités .card_l:hover, #activités .card_m:hover, #activités .card_s:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

/*position section activités*/

#activités
{
    margin-top: 50px;
}

#activités .card_activités
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}

#activités .card_verticale
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*----------------------------------------------------------------*/
/*footer*/

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 35px 0 35px 70px;
}

.liens_pied_page
{
    margin-right: 20%;
}

.liens_pied_page ul
{
    list-style-type: none;
    padding: 0;
    line-height: 30px;
}
