/*header version mobile*/

@media screen and (max-width: 768px) 
{
    header
    {
        width: auto;
        margin: 0;
        flex-direction:column;
        align-items: center;
        padding-top: 15px;
    }

    header nav
    {
        border-bottom: solid 3px #F2F2F2; 
        width: 100%;
        height: 53px;
        margin: 15px 0 5px 0;
    }

    header ul
    {
        padding: 0;
    }

    header li
    { 
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    header a 
    {
        padding: 0 0 16px 0; 
        width: 100%;
        text-align: center;
    }

    header a:hover
    {
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
        border-top: none
    }

/*----------------------------------------------------------------*/

/*position section haute version mobile*/

    main
    {
        width: auto;
        margin: 0;
    }
    #section_haute
    {
        margin: 20px 10px 0 15px;
    }

/*----------------------------------------------------------------*/

/*main zone Recherche version mobile*/

    #rechercher
    {
        display: none;
    }

    form
    {
        text-align: center;
    }

    form input
    {
        padding:15px 30px 15px 15px;
    }

    #loupe
    {
        color: white;
        background-color: #0065FC;
        border-radius: 12px 12px 12px 12px;
        border: solid 2px #0065FC;
        position: relative;
        top:1px; left:-6px
    }

/*----------------------------------------------------------------*/

/* main zone filtres et info version mobile*/

    #filtres h3
    {
    margin-left: 15px;
    }

    #info
    {
        margin-right: 0;
    }

    #info i
    {
        width: 40px;
    }

/*----------------------------------------------------------------*/

/*position section centrale version mobile : pas de changement*/

/*main zone populaires version mobile*/
  
    #populaires
    {
        border-radius: 0;
    }

    #populaires .card
    {
        width: 100%;
        height: 180px;
    }

/*main zone hébergements version mobile*/

    #hébergements
    {
        background-color: white;
        margin: 0;
        border-radius: 0;
    }
    
    #hébergements .card
    {
        width: 100%;
        height: 199px;
    }

    #hébergements .card_corps
    {
        font-size: 70%;
        line-height: 2px;
    }

/*----------------------------------------------------------------*/

/*position activités version mobile*/

    #activités
    {
        margin: 0 6% 0 6%;
    }

    #activités .card_verticale
    {
        margin-bottom: 0px;
    }

/*----------------------------------------------------------------*/

/*footer version mobile*/

    footer
    {
        flex-direction: column;
        padding-left: 35px;
    }
}