/*version desktop*/
/*base*/

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body a 
{
    text-decoration: none;
    color: black;
}

body h1
{
    font-size: 20px;
    font-weight: bold;
}

body h2
{
    font-size: 20px;
    font-weight: bold;
}

body h3
{
    font-size: 17px;
    font-weight: bold;
}

body h4
{
    font-size: 17px;
    font-weight: bold;
}

body strong
{
    font-weight: bold;
}

/*----------------------------------------------------------------*/
/*header*/

header
{
    display: flex;
    justify-content: space-between; 
    margin: 0 30px 0 40px;   
    padding-top: 30px;
}

.logo
{
    width: 110px;
}

header a
{
    padding: 43px 30px 15px 30px;
}

header ul
{
    list-style-type: none;
    display: flex;
}

header a:hover
{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

/*----------------------------------------------------------------*/
/*main*/
/* position section haute */

#section-haute
{
    margin: 20px 45px 0 50px;
}

/*main zone Recherche */

form
{
    margin-bottom: 30px;
}

#rechercher
{
    padding: 15px;
    color:white;
    font-weight:600;
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    border: solid 1px #0065FC;
    position: absolute;
}

form input
{
    padding:15px 40px 15px 15px;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    outline: none
}

form i
{
    padding: 15px;
    background-color:#F2F2F2;
    border: solid 1px #F2F2F2;
    border-bottom: solid 3px #F2F2F2;
    border-radius: 12px 0 0 12px;
}

/*----------------------------------------------------------------*/

/* main zone filtres*/

#filtres
{
    display:flex;
}

#filtres h3
{
    margin-right: 15px;
}

#filtres div
{
    display: flex;
}

#filtres i
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    font-size: 130%;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
}

.actif
{
    display: flex;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-left: 0;
    border-radius: 200px;
    font-weight: bold;
    padding-right: 20px;
    margin-left: 25px;
}

#filtres .actif a
{
    font-weight: bold;
    margin-left: 10px;   
}

#filtres .actif:hover
{
   background-color: #F2F2F2;
}

/*info*/

#info
{
    display: flex;
    margin: 15px 0 0 5px;
}

#info i
{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 25px;
    margin: 8px 10px 0 0;
}

/*----------------------------------------------------------------*/
/*main card*/

.nom
{
    margin-top: 10px;
}

.card-corps p
{
   font-size: 15px;
}

.card-corps i
{
    font-size: 12px;
}

.card:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

.card a:hover
{
    color: #0065FC;
}

.bleu
{
    color: #0065FC;
}

.gris
{
    color: rgb(201, 198, 198);
}

/*hébergements*/

#hebergements
{
    background-color: #F2F2F2;
    display: block;
}

#hebergements .card 
{
   width: 230px;
   height: 215px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   margin: 2%;
   border-radius: 18px;
}

#hebergements .card:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

#hebergements .card-image img
{
    object-fit:cover;
    width: 100%;
    height: 120px;
    border: 5px solid transparent;
    border-radius: 20px 20px 0 0;
}

#hebergements .card-corps
{
   margin-left: 7%;
   line-height: 50%;
   width: auto;
   height: auto;
}

/*populaires*/

#populaires
{
    background-color: #F2F2F2;
    height: auto;
}

#populaires .hotels
{
    height: 90%;
}

#populaires .card 
{ 
   
   width: 100%;
   height: 100%;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   margin: 2%;
   border-radius: 18px;
}

.populaires-liste
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#populaires .card-image img
{
    object-fit: cover;
    align-items: center;
    width: 130px;
    height: 100%;
    border: 5px solid transparent;
    border-radius: 20px 0 0 20px;
}

#populaires .card-corps
{
    height: 100%;
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
}

#populaires .card:hover 
{
    box-shadow: 2px 2px 40px rgb(155, 153, 153);
}

/*position section centrale*/

#section-centrale
{
    margin: 20px 45px 50px 50px;
    display: flex;
}

#hebergements
{
    width: calc(100% * 2 / 3);
    margin-right: 20px;
    border-radius: 25px;
    padding: 20px;
}

#hebergements .hotels
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hebergements h2, #hebergements h3
{
    margin-left: 30px;
}

#populaires
{
    width: 35%;
    margin-left: 20px;
    border-radius: 25px;
    padding: 20px;
}

#populaires-etoile
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 15px 0 5px;
}

#populaires-etoile i
{
    font-size: 120%;
    padding: 15px 2px 0 0;
}

#populaires .hotels
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#populaires .card
{
    margin-bottom: 20px;
}

/*----------------------------------------------------------------*/
/*activités*/

#section-activites .card-l 
{
   width: 100%;
   height: 444px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   border-radius: 18px;
   margin-bottom: 10px;
}

#section-activites .card-m 
{
   width: 100%;
   height: 235px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   border-radius: 18px;
   margin-bottom: 10px;
}

#section-activites .card-s
{
   width: 100%;
   height: 165px;
   background-color: white;
   box-shadow: 2px 2px 20px rgb(201, 198, 198);
   border-radius: 18px;
   margin-bottom: 10px;
}

#section-activites .card-l-image img
{
    width: 100%;
    height: 388px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#section-activites .card-m-image img
{
    width: 100%;
    height: 179px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#section-activites .card-s-image img
{
    width: 100%;
    height: 109px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#section-activites .card-corps h4
{
    margin: 3% 0 5% 7%;

}

#section-activites .card-l:hover, #section-activites .card-m:hover, #section-activites .card-s:hover 
{
    box-shadow: 1px 1px 20px rgb(155, 153, 153);
}

/*position section activités*/

#section-activites
{   
    display: block;
    margin: 30px 25px 0 50px;
}

#section-activites .card-activites
{
    display: flex;
    width: 100%;
    margin: 20px 0 20px 0;
}

#section-activites .card-verticale
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 30px 0 30px;
}


/*----------------------------------------------------------------*/
/*footer*/

footer
{
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    padding: 35px 0 35px 70px;
}

.liens-pied-page
{
    margin-right: 20%;
}

.liens-pied-page ul
{
    list-style-type: none;
    padding: 0;
    line-height: 30px;
}
