/*header version tablette : pas de changement*/
/*position section haute version tablette : pas de changement*/
/*main zone Recherche version tablette : pas de changement*/

/*----------------------------------------------------------------*/

/*main zone Filtres et info version tablette*/

    #filtres
    {
        flex-direction: column;
    }

    #filtres div
    {
        margin-bottom: 10px;
        flex-wrap: wrap;
    } 

/*----------------------------------------------------------------*/

/*position section centrale version tablette*/

    #section-centrale
    {
       flex-direction: column-reverse;
    } 

/*main zone populaires version tablette*/

    #populaires
    {
        width: 100%;
        height: 100%;
        margin: 0 0 40px 0;
    }

    #populaires .hotels
    {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    #populaires .card
    {
        width: 40%;
        height: 190px;
        margin-bottom: 3%;
    }

    #populaires-liste
    {
        width: 100%;
        height: 100%;
    }

    #populaires .card-corps h4 
    {
        margin: 4px 0 2px 0;
    }

    #populaires .card-corps p 
    {
        margin-top: 4px;
    }

/*main zone hébergements version tablette*/

    #hebergements
    {
        width: 100%;

    }
    
    #hebergements .hotels
    {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    #hebergements .card
    {
        width: 40%;
        height: 220px;
        font-size: 80%;
    }

    #hebergements h2, #hebergements h3
    {
        margin-left: 20px;
    }

/*----------------------------------------------------------------*/

/*position activités version tablette*/

    #section-activites
    {
        margin: 6% 6% 0 6%;
    }

    #section-activites .card-activites
    {
       flex-direction: column;
       width: 100%;
    } 

    #section-activites .card-verticale
    {
        margin: 0;
    }

    #section-activites .card-corps h4
    {
        margin-left: 7%;
        margin-top: 2%;
    }

    #section-activites .card-l, #section-activites .card-m, #section-activites .card-s
    {
        width: 100%;
        height: 190px;
        font-size: 90%;  
        margin-top: 5%; 
    }

    #section-activites .card-l-image img, #section-activites .card-m-image img, #section-activites .card-s-image img
    {
        width: 100%;
        height: 134px;
    }

/*footer version tablette : pas de changement*/

