/*Déclaration initiale de box-sizing*/

.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }
/* box-sizing est appliqué seulement à cette classe */

body
{
    font-family: 'Raleway', sans-serif;
    width: 1440px;
    margin: 50px 50px 50px 50px;
    border:solid 1px black
}

body a 
{
    text-decoration: none;
    color: black;
}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    
}

.logo
{
    padding: 0 15px 0 15px;
    width: 150px;
}

header a
{
    padding: 48px 30px 15px 30px;
}

header a:hover
{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

@media screen and (max-width: 768px) 
{
    body
    {
        width: auto;
    }

    header
    {
        flex-direction:column;
        align-items: center;
    }

    header nav
    {
        border-bottom: solid 3px #F2F2F2; 
        margin-top: 20px;
        padding-bottom: 15px;
        width: 100%;
        position: relative;
    }

    nav a 
    {
        padding-bottom: 15px;
        
    }

    header a:hover
    {
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
        border-top: none
    }
}

/*main*/


main h1
{
    font-size: 20px;
    font-weight: bold;
}

main h2
{
    font-size: 17px;
    font-weight: bold;
}

main h3
{
    font-size: 15px;
    font-weight: bold;
}

#section_centrale, #filtres
{
    display: flex;
}


